
<p>
    {% if review.user == user %}
    Vous avez
    {% else %}
    {{review.user}} a
    {% endif %} publié une critique <span class="is-pulled-right">{{ review.time_created }}</span></p>
    <br>
    <p>{{review.headline}} - <span class="rating" id="rating_id_{{review.id}}" rating="{{ review.rating }}"></span></p>
    <p>{{review.body}}</p>

    <article class="box m-5">
        {% include 'tikect/__ticket.html' with ticket=review.ticket buttons='no_buttons' %}
    </article>

    {% if buttons == 'review_buttons' %}
    <a href="{% url 'post_delete' 'review' review.id %}" class="button is-danger is-pulled-right ml-5">Supprimer</a>
    <a href="{% url 'post_update' 'review' review.id %}" class="button is-pulled-right">Modifier</a>
    <div style="height:40px"></div>
    {% else %}
    <div style="height:10px"></div>
    {% endif %}