{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="columns is-centered">
    <div class="column is-half">
        <div class="columns m-5">
            {% include '__pagination.html' with view_name='flux' objects=posts%}
        </div>
        <div class="columns" >
            <div class="column is-half">
                <a class="button is-fullwidth" href="{% url 'ticket_create' %}">Demander une critique</a>
            </div>
            <div class="column is-half">
                <a class="button is-fullwidth" href="{% url 'review_publish' %}">Créer une critique</a>
            </div>
        </div>
    </div>
</div>

<section class="columns is-centered">
    <div class="column is-half">

    {% for post in posts %}
    <article class="box m-5">
        {% if post.type == "ticket" %}
            {% include 'tikect/__ticket.html' with ticket=post user=user %}
        {% elif post.type == "review" %}
            {% include 'tikect/__review.html' with review=post user=user %}
        {% endif %}

    </article>
    <div class="do-up">
        <a href="#">
            <span class="material-icons is-pulled-left">
                arrow_upward
            </span>
        </a>
    </div>
    {% endfor %}
    </div>

</section>

{% endblock content %}


{% block script %}
<script type="text/javascript" src="{% static 'tikect/js/stars.js' %}"></script>
{% endblock script %}