{% extends 'base.html' %}

{% load static %}

{% block content %}


<section class="columns is-centered">
    <div class="column is-half">
        <h1 class="subtitle">Vos posts</h1>

        <div class="columns m-5">
            {% include '__pagination.html' with view_name='posts' objects=posts%}
        </div>

        {% for post in posts %}
        <article class="box m-5">
            {% if post.type == "ticket" %}
                {% include 'tikect/__ticket.html' with ticket=post user=user buttons='ticket_buttons' %}
            {% elif post.type == "review" %}
                {% include 'tikect/__review.html' with review=post user=user buttons='review_buttons' %}
            {% endif %}
        </article>
        <div class="do-up">
            <a href="#">
                <span class="material-icons is-pulled-left">
                    arrow_upward
                </span>
            </a>
        </div>
        {% endfor %}
    </div>

</section>

{% endblock content %}


{% block script %}
<script type="text/javascript" src="{% static 'blog/js/stars.js' %}"></script>
{% endblock script %}