{% extends 'base.html' %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-half">
        <h1 class="subtitle">Créer une critique</h1>
        <div class="box">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="subtitle">Livre/article</h1>
                {% include 'tikect/ticket_form.html' with form=ticket_form %}
                <hr>
                <h1 class="subtitle">Critique</h1>
                {% include 'tikect/review_form.html' with form=review_form %}

                <button class="button is-pulled-right mt-5">Envoyer</button>
                <div style="height: 50px"></div>
            </form>

        </div>

    </div>

</div>

{% endblock content %}