
<div class="field">
    <label class="label">{{ form.title.label }}</label>
    <div class="control">
        {{ form.title }}
    </div>

</div>

<div class="field">
    <label class="label">{{ form.description.label }}</label>
    <div class="control">
        {{ form.description }}
    </div>
</div>

<label class="label">{{ form.image.label }}</label>
{% if image %}
    <img src="{{ image }}" alt="cover" class="cover m-5">
{% endif %}
<div class="file">
    <label class="file-label">
      <input id="id_image" class="file-input" type="file" name="image" accept="image/*">
      <span class="file-cta">
        <span class="file-icon">
            <span class="material-icons">
                file_upload
            </span>
        </span>
            <span class="file-label">
                Télécharger un fichier
            </span>
      </span>
      <span class="file-name is-fullwidth" id="selected_file" title="aucun fichier">
        aucun fichier selectionné
      </span>
    </label>

  </div>



{% block script %}
<script>

const fileInput = document.getElementById('id_image');
const selected_file_elem = document.getElementById('selected_file')
fileInput.onchange = () => {
const selectedFile = fileInput.files[0];
selected_file_elem.innerHTML = selectedFile.name;
selected_file_elem.setAttribute("title", selectedFile.name);

}
</script>

{% endblock script %}